.cart {
    width: 40%;
    display: grid;
    align-content: space-between;
}
.cart-head-top {
    border-bottom: 1px solid #e5e8ec;
}
.cart-head  {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 48px;
    align-items: center;
}
.cart-head-title {
    font-size: 16px;
    color: #1d1d26;
    margin-right: 12px;
}
.cart-head-count {
    font-size: 14px;
    color: #ffffff;
    background-color: #5fc47e;
    padding: 2px 8px 1px 8px;
    border-radius: 50px;
    margin-bottom: 2px;
}
.cart-head-num {
    font-size: 16px;
}
.cart-head-icon{
    display: none;
}
.cart-head-img {
    vertical-align: bottom;
}
.cart-items {
    width: 80%;
    margin: auto;
    margin-top: 10%;
}
.cart-total{
    margin: auto;
    width: 80%;
}
.cart-total-head {
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
    background-color: #edeff0;
    margin-bottom: 24px;
}
.cart-total-btns {
    display: flex;
    justify-content: space-between;
}
.grand-total-title {
    font-size: 15px;
    color: #1d1d26;
    margin-left: 5.9%;
}
.grand-total-price {
    font-size: 15px;
    color: #1d1d26;
    margin-right: 4.3%;
}
.cancel-btn {
    background-color: #f8f8f8;
    border: solid 1px #ef5350;
    border-radius: 4px;
    font-size: 13px;
    color: #ef5350;
    height: 48px;
    width: 45%;
}
.proceed-btn {
    background-color: #5fc47e;
    border: 0;
    border-radius: 4px;
    font-size: 13px;
    color: #ffffff;
    height: 48px;
    width: 45%;
}
#close-cart-div {
    color: black;
    padding-left: 10px;
    font-size: 23px;
    display: none;
}

@media screen and (max-width: 600px) {
    .cart-head-top {
        border: 0;
    }
    .cart-head-title {
        display: none;
    }
    .cart-head-icon {
        display: block;
        cursor: pointer;
    }
    .cart-head-num {
        display: none;
    }
    .cart {
        width: 10%;
    }
    .cart-responsive {
        display: none;
        height: fit-content;
        position: fixed;
        top: 70px;
        right: 0;
        width: 90%;
        z-index: 999;
        background-color: #e5e8ec;
    }
}

@media screen and (min-width: 601px) {
    .cart-responsive {
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
}