.menu {
    width: 50%;
    border-right: 1px solid #e5e8ec;
}
.search-bar {
    width: 97%;
    height: 48px;
    margin-bottom: 25px;
}
.search-bar-input {
    width: 98%;
    border: 0;
    padding: 10px;
    margin-top: 12.5px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e5e8ec;
}
.search-bar-input:focus {
    outline: none;
}
.menu-span {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .menu {
        width: 60%;
        border: 0;
        margin-top: 48px;
    }
    .search-bar-input {
        border-top: 1px solid #e5e8ec;
    }
}