.app {
  margin: 0;
  font-family: 'Poppins' , sans-serif;
  background-color: #f8f8f8;
  min-height: 100vh;
}
.app-main {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .app-main {
    justify-content: center;
    flex: 60px 0 0;
    gap: 0;
  }
}